body{
    background-color: #6497B1;
    font-family: 'Kadwa', serif;
}
.nav-color{
    background-color: #005B96;
}

.cityName{
    color: white;
    font-family: 'Karma' , serif;
}
#location{
    font-size: 60px;
    font-weight: lighter;
}
.centerMe{
    text-align: center;
    display: flex;
    justify-content: center;
}
.rightMe{
    text-align: right;
    display: flex;
    justify-content: right; 
}